{% extends 'components/base.html' %}
{% load static %}

{% block styles %}
{% endblock %}

{% block content %}
<!-- page header -->
<div class="page-header">
    <div>
        <h1 class="page-title">Courses</h1>
    </div>
    <div class="ms-auto pageheader-btn">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Apps</li>
            <li class="breadcrumb-item active">Courses</li>
            <li class="breadcrumb-item"><a href="javascript:void(0);">Course-edit</a></li>
        </ol>
    </div>
</div>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
{% endif %}


<!-- row started -->
<div class = "row">
    <div class="col-md-12">
        <div class="card">    
            <div class="card-header">
                <h3 class="card-title">Edit Course</h3>
            </div>
            <div class="card-body pb-2">
                <form method="POST" id="myForm" action="{% url 'app:update-course' course.id %}" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row row-sm">
                        <div class="col-lg-16">
                            <div class="form-group">
                                <label for="user">Admin: {{ course.user.username }}</label>
                                <select class="form-control mb-4 is-valid state-valid" id="user" name="user" required>
                                    {% for user in users %}
                                        <option value="{{ user.id }}" {% if user.id == course.user.id %}selected{% endif %}>
                                            {{ user.username }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback" id="user-feedback">
                                    Please select a valid admin.
                                </div>
                            </div>
                
                            <div class="form-group">
                                <label for="course_category">Course Category</label>
                                <select class="form-control mb-4 is-valid state-valid" id="course_category" name="course_category" required>
                                    {% for category in categories %}
                                        <option value="{{ category.id }}" {% if category.id == course.course_category.id %}selected{% endif %}>
                                            {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback" id="course_category-feedback">
                                    Please select a valid course category.
                                </div>
                            </div>
                
                            <div class="form-group">
                                <label for="course_speaker_country">Course Speaker Country</label>
                                <select class="form-control mb-4 is-valid state-valid" id="course_speaker_country" name="course_speaker_country" required>
                                    {% for country in speaker_countries %}
                                        <option value="{{ country.id }}" {% if country.id == course.course_speaker_country.id %}selected{% endif %}>
                                            {{ country.country }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback" id="course_speaker_country-feedback">
                                    Please select a valid course speaker country.
                                </div>
                            </div>
                
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control mb-4 is-valid state-valid" id="name" name="name" value="{{ course.name }}" required>
                                <div class="invalid-feedback" id="name-feedback">
                                    Please provide a valid name.
                                </div>
                            </div>
                
                            <div class="form-group">
                                <label for="image" class="form-label">Image</label>
                                <input type="file" class="form-control mb-4" id="image" name="image" onchange="showPreview(event)">
                                <div class="invalid-feedback" id="image-feedback">Please provide a valid image (JPG or PNG).</div>
                                <img id="preview-image" src="{% if course.image %}{{ course.image.url }}{% endif %}" alt="Preview Image" class="img-thumbnail" style="height:150px;width:150px; {% if not course.image %}display: none;{% endif %}">
                            </div>
                
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control mb-4 is-valid state-valid" id="description" name="description" required>{{ course.description }}</textarea>
                                <div class="invalid-feedback" id="description-feedback">
                                    Please provide a valid description.
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
                                            
            </div>
        </div>
    </div>
</div>

{% endblock %}



{%block scripts%}

<script>
    const imageElm = document.getElementById("image");
    document.getElementById('image').addEventListener('change', function() {
        var file = this.files[0];
        var fileType = file.type;
        var validTypes = ['image/jpeg', 'image/png'];

        if (!validTypes.includes(fileType)) {
            this.setCustomValidity('Please select a JPG or PNG file.');
            this.reportValidity();
        } else {
            this.setCustomValidity('');
            this.reportValidity();
        }
    });

    function showPreview(event) {
        const previewImage = document.getElementById('preview-image');
        previewImage.src = URL.createObjectURL(event.target.files[0]);
        previewImage.style.display = 'block';
    }

    
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('editForm');
    
        form.addEventListener('submit', function (event) {
            // Reset validation state
            form.classList.remove('was-validated');
    
            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add('was-validated');
            }
        });
    
        // Event listener for each input to remove validation styles on focus
        const inputs = form.querySelectorAll('input, select, textarea');
        inputs.forEach(input => {
            input.addEventListener('focus', () => {
                input.classList.remove('is-invalid');
                input.classList.remove('is-valid');
            });
        });
    
        // Show/hide preview image and manage remove image checkbox
        const imageInput = document.getElementById('image');
        const previewImage = document.getElementById('preview-image');
        const removeImageCheckbox = document.getElementById('remove-image');
    
        imageInput.addEventListener('change', function () {
            if (imageInput.files && imageInput.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    previewImage.src = e.target.result;
                    previewImage.style.display = 'block';
                };
                reader.readAsDataURL(imageInput.files[0]);
            }
        });
    
        removeImageCheckbox.addEventListener('change', function () {
            if (removeImageCheckbox.checked) {
                previewImage.style.display = 'none';
            } else {
                if (imageInput.files.length === 0 && previewImage.src) {
                    previewImage.style.display = 'block';
                }
            }
        });
    });

</script>

{%endblock%}