{% extends 'components/base.html' %}

{% load static %}

{% block styles %}

<style>
    p {
        margin: 0;
        padding: 0;
    }
</style>

{% endblock %}


{% block content %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<div class="row row-deck mt-5">
    <div class="col-12 mb-5 mt-3">
        <h3>Course Taken</h3>
    </div>
    {% for course in courses_progress %}
    <div class="col-12">
        <div class="card">
            <div class="card-header border-bottom align-items-center d-flex">
                <span class="avatar avatar-lg brround cover-image"
                    data-bs-image-src="/static/assets/images/users/12.jpg"
                    style="background: url(&quot;/static/assets/images/users/12.jpg&quot;) center center;"></span>
                <div class="d-flex flex-column mx-4">
                    <h2 class="card-title">{{ course.course.name }}</h2>
                    <p>{{ course.completed_tasks }}/{{ course.total_tasks }} Items Learned</p>
                </div>
                <div class="card-options">
                    <div class="btn-group mt-2 mb-2">
                        <button type="button" class="dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v "></i><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar bg-info wp-{{course.progress}}" role="progressbar" style="width: 100%">{{course.progress}}%   </div>
                  </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <a href="/course/tasks/{{ course.course_id }}" class="btn btn-primary"><i class="fe fe-link me-2"></i>Lanjutkan Belajar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}